@{
    ViewData["Title"] = "Home Page";
}

<body>
    <app-article></app-article>
    <script src="~/js/client/dist/runtime-es2015.js" type="module"></script>
    <script src="~/js/client/dist/runtime-es5.js" nomodule defer></script>
    <script src="~/js/client/dist/polyfills-es5.js" nomodule defer></script>
    <script src="~/js/client/dist/polyfills-es2015.js" type="module"></script>
    <script src="~/js/client/dist/styles-es2015.js" type="module"></script>
    <script src="~/js/client/dist/styles-es5.js" nomodule defer></script>
    <script src="~/js/client/dist/vendor-es2015.js" type="module"></script>
    <script src="~/js/client/dist/vendor-es5.js" nomodule defer></script>
    <script src="~/js/client/dist/main-es2015.js" type="module"></script>
    <script src="~/js/client/dist/main-es5.js" nomodule defer></script>
</body>


